---
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
    const response = await fetch(
        'http://payload:3000/api/pages?depth=0&draft=false&trash=false'
    )
    const data = await response.json()
    const pages = data.docs.map((page: any) => {
        return {
            params: { slug: page.url },
            props: {
                title: page.title as string,
                content: page.content as any,
            },
        }
    })
    return pages
}) satisfies GetStaticPaths

const { slug } = Astro.params

const url =
    'http://payload:3000/api/pages?depth=0&draft=false&trash=false' +
    '&where[url][equals]=' +
    encodeURIComponent(`/${slug}`)
console.log(url)
const response = await fetch(url)
const data = await response.json()

const title = Astro.props['title'] || data.docs[0].title + '!!!'
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>
    <body>
        <h1>{title}</h1>
        <p>{title}</p>
    </body>
</html>
