---

---

<script>
    import { loadStripe } from '@stripe/stripe-js'
    import { STRIPE_PUBLISHABLE_KEY } from 'astro:env/client'
    const stripe = (await loadStripe(STRIPE_PUBLISHABLE_KEY))!

    const clientSecret = fetch('/create-checkout-session', { method: 'POST' })
        .then((response) => response.json())
        .then((json) => json.client_secret)

    const checkout = stripe.initCheckoutElementsSdk({ clientSecret })
    const loadActionsResult = await checkout.loadActions()

    if (loadActionsResult.type === 'success') {
        const session = loadActionsResult.actions.getSession()
        const checkoutContainer = document.getElementById('checkout-container')!

        checkoutContainer.append(JSON.stringify(session.lineItems, null, 2))
        checkoutContainer.append(document.createElement('br'))
        checkoutContainer.append(`Total: ${session.total.total.amount}`)
    }
</script>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Checkout</title>
        <script src="https://js.stripe.com/dahlia/stripe.js"></script>
    </head>
    <body>
        <div id="checkout-container"></div>
    </body>
</html>
